
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  line-height: normal;
  position: relative;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  background-color: #F8FCFD;
  background-image: url('/blur-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: transparent;
}
